body {
    font-family:Arial,Helvetica,sans-serif;
    background-color:rgb(34, 221, 221);
    margin : 0;
    padding : 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h2
{
    text-align: center;
    color:rgb(0, 255, 162);
}
form{
    background-color:rgb(0, 255, 72);
    border-radius:8px;
    padding:20px;
    box-shadow:0px 2px 6px rgba(red, green, blue, alpha);
    width:300;}
}
label{
    display:block;
    margin-button;
    font:weight:bold;
}
input{
    width:100%;
    color:rgb(52, 193, 193);
    padding:8px;
    margin-button:10px;
    border:1px 15px;
    border-radius:4px;
}
button{
    background-color:aqua;
    color:aqua;
    padding:10px 15px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    width:100%;
}
button:hover{
    background-color:blueviolet;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(33, 33, 100);
    margin:0;
    padding : 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align:center;
    color:rgb(44, 44, 78);

}
input{
    width:100%;
    color:rgb(36, 18, 18);
    padding:8px;
    margin:-button:10px;
    border:1px 15px;
    border-radius:4px;
}
input{
    width:100%;
    color:rgb(36, 18, 18);
    padding:8px;
    margin:-button:10px;
    border:1px 15px;
    border-radius:4px;

}
p{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(33, 33, 100);
    margin:0;
    padding : 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1{
    text-align:center;
    color:rgb(44, 44, 78);


}
input{
    width:100%;
    color:rgb(36, 18, 18);
    padding:8px;
    margin:-button:10px;
    border:1px 15px;
    border-radius:4px;
}